@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


body {
    font-family: 'Montserrat', sans-serif;  
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}


h1 {
    color: #fff;
    text-align: center;
}

.fundo-tb {
   background: rgba(0, 0, 0, 0.6);
   border-radius: 15px 15px 0 0; 
}

.box-search {
    display: flex;
    justify-content: center;
    gap: .1%;
}