@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(45deg, cyan, yellow);
}

.tela-login {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.btn {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: deepskyblue;
}



/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}